<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <%= link_to "Generar Reporte", reports_general_path(format: :xlsx), class: "btn btn-danger" %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Redes</h3>
    </div>
    <div class="panel-body">
      <h4>Estado de Redes</h4>
      <div class="row">
        <div class="col-sm-4">
          <p>Cantidad de Subredes de IPs publicas: <%= @sections_public[:count] %></p>
          <p>Cantidad de IPs publicas: <%= @sections_public[:max] %></p>
          <p>Cantidad de IPs publicas en uso: <%= @sections_public[:used] %></p>
          <p>Cantidad de IPs publicas libres: <%= @sections_public[:free] %></p>
          <p>En uso: <span class="used-percentage"><%= two_decimal_amount @sections_public[:used_percent] %>%</span></p>
          <p>Disponibilidad: <span class="free-percentage"><%= two_decimal_amount @sections_public[:free_percent] %>%</span></p>
        </div>
        <div class="col-sm-4">
          <p>Cantidad de Subredes de IPs privadas: <%= @sections_private[:count] %></p>
          <p>Cantidad de IPs privadas: <%= @sections_private[:max] %></p>
          <p>Cantidad de IPs privadas en uso: <%= @sections_private[:used] %></p>
          <p>Cantidad de IPs privadas libres: <%= @sections_private[:free] %></p>
          <p>En uso: <span class="used-percentage"><%= two_decimal_amount @sections_private[:used_percent] %>%</span></p>
          <p>Disponibilidad: <span class="free-percentage"><%= two_decimal_amount @sections_private[:free_percent] %>%</span></p>
        </div>
      </div>
      <%= link_to icon("search", "Ver Secciones"), sections_path, class: "btn btn-success" %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Hosting</h3>
    </div>
    <div class="panel-body">
      <h4>Dedicado</h4>
      <div class="row">
        <div class="col-sm-12">
          <p>Cantidad de instancias: <%= @dedicated_hosting[:instances_total] %></p>
          <p>Cantidad de instancias en uso: <%= @dedicated_hosting[:instances_used] %></p>
          <p>Cantidad de instancias libres: <%= @dedicated_hosting[:instances_free] %></p>
          <p>En uso: <span class="used-percentage"><%= two_decimal_amount @dedicated_hosting[:used_percent] %>%</span></p>
          <p>Disponibilidad: <span class="free-percentage"><%= two_decimal_amount @dedicated_hosting[:free_percent] %>%</span></p>
        </div>
      </div>
      <%= link_to icon("search", "Ver Data Center"), data_centers_path, class: "btn btn-success" %>
    </div>
  </div>
</div>