<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <%= link_to "Generar Reporte", reports_general_path(format: :xlsx), class: "btn btn-danger" %>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Redes</h3>
    </div>
    <div class="panel-body">
      <h4>Estado de Redes</h4>
      <p>Cantidad de Subredes de IPs publicas: <%= @sections_results[:count] %></p>
      <p>Cantidad de IPs publicas: <%= @sections_results[:max] %></p>
      <p>Cantidad de IPs publicas en uso: <%= @sections_results[:used] %></p>
      <p>Cantidad de IPs publicas libres: <%= @sections_results[:free] %></p>
      <p>En uso: <span class="used-percentage"><%= two_decimal_amount @sections_results[:used_percent] %>%</span></p>
      <p>Disponibilidad: <span class="free-percentage"><%= two_decimal_amount @sections_results[:free_percent] %>%</span></p>
      <%= link_to icon("search", "Ver Secciones"), sections_path, class: "btn btn-success" %>
    </div>
  </div>
</div>