<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Secciones</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>API ID</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th >Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @sections.each do |section| %>
        <tr>
          <td><%= section.api_id %></td>
          <td><%= section.name %></td>
          <td><%= section.description %></td>
          <td>
            <%= link_to 'Detalles', section %>
            <%= link_to 'Editar', edit_section_path(section) %>
            <%= link_to 'Subredes', section_subnets_path(section) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
