<h1>Addresses</h1>

<table class="table">
  <thead>
    <tr>
      <th>API ID</th>
      <th>IP</th>
      <th>Subred</th>
      <th>En uso</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.api_id %></td>
        <td><%= address.ip %></td>
        <td><%= link_to address.subnet.base, subnet_path(address.subnet) %></td>
        <td><%= address.active %></td>
        <td>
          <%= link_to 'Show', address %>
          <%= link_to 'Edit', edit_address_path(address) %>
          <%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
