<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Data Centers</h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table" id="datatable">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>CPU Total (MHz)</th>
              <th>CPU en Uso </th>
              <th>Memoria Total (MB)</th>
              <th>Memoria en Uso</th>
              <th>Instancias Totales (Talla&nbsp<%= ENV["vmware_size"] %>)</th>
              <th>Instancias en Uso</th>
              <th>Instancias Disponibles</th>
              <th>Acciones</th>
            </tr>
          </thead>

          <tbody>
            <% @data_centers.each do |dc| %>
              <% dc_stats = dc.stats %>
              <tr>
                <td><%= dc.name %></td>
                <td><%= dc_stats[:cpu_total] %></td>
                <td><%= dc_stats[:cpu_used] %></td>
                <td><%= dc_stats[:memory_total] %></td>
                <td><%= dc_stats[:memory_used] %></td>
                <td><%= dc_stats[:instances_total] %></td>
                <td><%= dc_stats[:instances_used] %></td>
                <td><%= dc_stats[:instances_total]-dc_stats[:instances_used] %></td>
                <td>
                  <%= link_to(icon('search'), data_center_path(dc)) %>
                  <%= link_to(icon('list'), data_center_clusters_path(dc)) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>