<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Data Center <%= @data_center.name %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <p>
            <strong>Nombre:</strong>
            <%= @data_center.name %>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p>
            <strong>CPU total: </strong>
            <%= two_decimal_amount @data_center.cpu_total %> GHz
          </p>
          <p>
            <strong>CPU en uso: </strong>
            <%= two_decimal_amount @data_center.cpu_used %> GHz
          </p>
          <p>
            <strong>CPU disponible: </strong>
            <%= two_decimal_amount @data_center.cpu_free %> GHz
          </p>
          <hr>
          <p>
            <strong>Memoria total: </strong>
            <%= two_decimal_amount @data_center.memory_total %> GB
          </p>
          <p>
            <strong>Memoria en uso: </strong>
            <%= two_decimal_amount @data_center.memory_used %> GB
          </p>
          <p>
            <strong>Memoria disponible: </strong>
            <%= two_decimal_amount @data_center.memory_free %> GB
          </p>
          <hr>
          <p>
            <strong>Espacio en disco total: </strong>
            <%= two_decimal_amount @data_center.disk_total %> GB
          </p>
          <p>
            <strong>Espacio en disco en uso: </strong>
            <%= two_decimal_amount @data_center.disk_used %> GB
          </p>
          <p>
            <strong>Espacio en disco disponible: </strong>
            <%= two_decimal_amount @data_center.disk_free %> GB
          </p>
        </div>
        <div class="col-sm-3">
          <p>
            <strong>Procesadores fisicos: </strong>
            <%= @data_center.physical_cores %>
          </p>
          <p>
            <strong>Procesadores virtuales: </strong>
            <%= @data_center.virtual_cores %>
          </p>
          <p>
            <strong>Proporción virtuales a fisicos: </strong>
            <%= two_decimal_amount @data_center.ratio_cores %>
          </p>
          <hr>
          <p>
            <strong>Instancias totales: </strong>
            <%= @data_center.instances_total%>
          </p>
          <p>
            <strong>Instancias en uso: </strong>
            <%= @data_center.instances_used%>
          </p>
          <p>
            <strong>Instancias disponibles: </strong>
            <%= @data_center.instances_free%>
          </p>
          <hr>
        </div>
      </div>
      <%= link_to icon("arrow-left", "Data Centers"), data_centers_path, class: "btn btn-warning" %>
      <%= link_to "Ver Clusters", data_center_clusters_path(@data_center), class: "btn btn-primary" %>
    </div>
  </div>
</div>