<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Reporte</h3>
    </div>
    <div class="panel-body">
      <%= form_tag reports_create_path(format: :xlsx), method: :get do %>
        <h4 id="report-columns">Columnas <i class="fa fa-chevron-down"></i></h4>
        <div id="column-fields" class="fields">
          <%= hidden_field_tag "info[active]", true %>
          <div class="checkbox">
            <%= label_tag do %>
              <%= check_box_tag "info[total]", true %>
              Capacidad Total
            <% end %>
          </div>
          <div class="checkbox">
            <%= label_tag do %>
              <%= check_box_tag "info[used]", true %>
              Servicios activos
            <% end %>
          </div>
          <div class="checkbox">
            <%= label_tag do %>
              <%= check_box_tag "info[free]", true %>
              Servicios Disponibles
            <% end %>
          </div>
          <div class="checkbox">
            <%= label_tag do %>
              <%= check_box_tag "info[used_percent]", true %>
              &percnt; en uso
            <% end %>
          </div>
          <div class="checkbox">
            <%= label_tag do %>
              <%= check_box_tag "info[free_percent]", true %>
              &percnt; disponibilidad
            <% end %>
          </div>
          <div class="checkbox">
            <%= label_tag do %>
              <%= check_box_tag "info[reserved]", true %>
              Servicios comprometidos
            <% end %>
          </div>
        </div>
        <hr>

        <h4 id="report-networks">Redes <i class="fa fa-chevron-down"></i></h4>
        <div id="network-fields" class="fields">
          <%= label_tag(:network_active, class: 'radio-inline') do %>
            <%= radio_button_tag("network[active]", true) %>
            <strong>Mostrar</strong>
          <% end %>
          <%= label_tag(:network_active, class: 'radio-inline') do %>
            <%= radio_button_tag("network[active]", false, true) %>
            <strong>No mostrar</strong>
          <% end %>

          <div class="fields-checkbox" id="network-checkbox">
            <div class="checkbox">
              <%= label_tag do %>
                <%= check_box_tag "network[individual]", true %>
                Hoja individuales
              <% end %>
            </div>
            <div class="checkbox">
              <%= label_tag do %>
                <%= check_box_tag "network[public]", true %>
                IPs publicas
              <% end %>
            </div>
            <div class="checkbox">
              <%= label_tag do %>
                <%= check_box_tag "network[private]", true %>
                IPs privadas
              <% end %>
            </div>
          </div>
        </div>
        <hr>

        <h4 id="report-hostings">Hospedaje <i class="fa fa-chevron-down"></i></h4>
        <div id="hosting-fields" class="fields">
          <%= label_tag(:hosting_active, class: 'radio-inline') do %>
            <%= radio_button_tag("hosting[active]", true) %>
            <strong>Mostrar</strong>
          <% end %>
          <%= label_tag(:hosting_active, class: 'radio-inline') do %>
            <%= radio_button_tag("hosting[active]", false, true) %>
            <strong>No mostrar</strong>
          <% end %>

          <div class="fields-checkbox" id="hosting-checkbox">
            <div class="checkbox">
              <%= label_tag do %>
                <%= check_box_tag "hosting[virtual]", true %>
                Virtual
              <% end %>
            </div>
            <div class="checkbox">
              <%= label_tag do %>
                <%= check_box_tag "hosting[virtual_individual]", true %>
                Virtual hoja individual
              <% end %>
            </div>
          </div>
        </div>
        <hr>

        <h4 id="report-storages">Almacenamiento <i class="fa fa-chevron-down"></i></h4>
        <div id="storage-fields" class="fields">
          <%= label_tag(:storage_active, class: 'radio-inline') do %>
            <%= radio_button_tag("storage[active]", true) %>
            <strong>Mostrar</strong>
          <% end %>
          <%= label_tag(:storage_active, class: 'radio-inline') do %>
            <%= radio_button_tag("storage[active]", false, true) %>
            <strong>No mostrar</strong>
          <% end %>

          <div class="fields-checkbox" id="storage-checkbox">
            <div class="checkbox">
              <%= label_tag do %>
                <%= check_box_tag "storage[nas]", true %>
                NAS
              <% end %>
            </div>
            <div class="checkbox">
              <%= label_tag do %>
                <%= check_box_tag "storage[nas_individual]", true %>
                NAS hoja individual
              <% end %>
            </div>
          </div>
        </div>
        <hr>

        <%= button_tag "Generar", type: 'submit' %>
      <% end %>
    </div>
  </div>
</div>